<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Confirmation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>    
        <div style="padding: 100px; height: 100%; width: 100%;" class="card text-center">
            <div style="background:#8beb55; font-size: 30px; font-weight: bold;" class="card-header" >
                ¡Reporte generado exitosamente!
            </div>
            <div class="card-body" style="border-style: ridge; ">
                <h5 class="card-title">El reporte se ha generado y descargado exitosamente</h5>
                <p class="card-text">Ve a la siguiente dirección "C:\\Users\\Hillary\\Documents\\Fidelitas\\03. 2C 2022\\Web y patrones\\Tienda\\Workspace Tienda\\Tienda_v\\src\\main\\resources\\clientsreport" y mira tu reporte</p>
                <a href="/persona" class="btn btn-dark">Ir nuevamente a la lista de clientes</a>
            </div>

        </div>
    </body>
</html>
